<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar para buscar una dirección -->
  <app-searchbar (locationSelected)="moveMarker($event)"></app-searchbar>

  <!-- Botón para centrar en la ubicación actual, parte inferior derecha -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="centerOnCurrentLocation()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Label para mostrar el radio en metros -->
  <div class="radio-label">
    Radio: {{ radius }} metros
  </div>

  <!-- Contenedor del mapa -->
  <div id="mapId"></div>
</ion-content>

<!-- Menú hamburguesa -->
<ion-menu side="start" menuId="first" contentId="mapId">
  <ion-header>
    <ion-toolbar>
      <ion-title>Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Radio: {{radius}} metros</ion-label>
      </ion-item>
      <ion-item>
        <ion-range min="100" max="1000" step="50" [(ngModel)]="radius" (ionChange)="updateCircleRadius()">
          <ion-label slot="start">100m</ion-label>
          <ion-label slot="end">1000m</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
